a {
  color: #E91E63;
}

.b-row {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.home-logo {
  height: 40px;
  width: 90px;
}
.bottom-border {
  width: 100%;
}
h1 {
  font-family: 'Montserrat', sans-serif;
}
h2 {
  font-family: 'Montserrat', sans-serif;
}
.about-flow h2 {
  top: 40%;
}




/* About css */

