.back-btn {
    align-content: left;
    background: #F5F5F5;
    color: #E91E63;
    border: 0px;
}
.navbar {
    width: 100%;
    background: white;
    border: 1px solid #FFFFFF; 
    border-radius: 51px; 
}
b-navbar {
    background: #F5F5F5; 
    border: 1px solid #FFFFFF; 
    border-radius: 51px; 
}

.login-btn {
    background: #F5F5F5;
    color: #E91E63;
    border: 0px;
}

.signup-btn {
    background: #F5F5F5;
    color: #E91E63;
    border: 0px;
}

a {
    color: #E91E63;
}

input {
    background: #F5F5F5; 
    border: 1px solid #FFFFFF; 
    border-radius: 20px; 
}

.nav-logo {
    height: 40px;
    width: 90px;
}
